{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            {{ wtf.quick_form(form) }}<hr>
        </div>
        <h3 class="text-center">All Comments For this Blog</h3>
        {% for comment in all_comments %}
        <div class = "col-md-12">
            <p>{{ comment.comment }}</p>
            <a class =" btn btn-danger" href="{{url_for('main.delete_comment',id = comment.id)}}">Delete</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}