{% extends 'base.html'%}

{% import 'macros.html' as macro %}

{% block styles%}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{% block content%}{% extends 'base.html'%}

{% block head %}
<!-- css link -->
{% block styles %}
<!--bootstrap link-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/css/index.css') }}"> -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<title>{{ title }}</title>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-secondary">
  <div class="container">
    <h1 class="display-4">Pitch Perfect</h1>
    <p class="lead">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. </p>
  </div>
</div>

<div class="container"  >
        <div class="row">
          {% for pitch in pitches %}
          <div class="col-md-4 ">
              <div class="pitch">
            <div class="panel panel-default text-center " id="display1">
                <div class="panel-heading">
                    <h4 span style="font-weight: 900;">{{ blog.title}}</h4>
                </div>
                <div class="panel-body">
                    <p>Category:{{ blog.category }}</p>
                    <p>{{ blog.post }}</p>
            
                    <p class="panel-text"><strong>Created on: <span class="badge rounded-pill text-dark">{{
                      pitch.date_created  }}</span></strong> <br>
                      <a href="{{url_for('main.like',id = blog.id)}}"> <i class="fa fa-thumbs-up"></i> upvotes: {{blog.like.count()}}</a>
                      <a href="{{url_for('main.dislike',id = blog.id)}}"> <i class="fa fa-thumbs-down"></i> downvotes: {{blog.dislikes.count()}}</a>
                      <a href="{{ url_for('main.comment', blog_id = blog.id)}}"><i class="fa fa-comments" aria-hidden="true"></i>comment</a>
                    </p>
                      
                </div>
              </div>
            </div>
        </div> 
          {% endfor %}
                        
        </div>   
              </div>
   <div class="container ">
    <div class="row ">
        <div class="col-md-12">
            <ul class="list-group list-group-horizontal-xl icons bg-dark ">
                <li class="icon-item"><a href="http://instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://github.com" target="_blank" title="Github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li class="icon-item"><a href="http://linkedin.com" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <footer class="page-footer font-small special-color-dark">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <p>Developed by: Maureen Mwangi.</p>
                </div>
                <!-- Copyright -->
        
            </footer>
        </div>
    </div>
</div>
            
{% endblock %}
